{%  extends "menu.html.twig" %}

{% block body %}
        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
          <div id='mainContent'>
            <div class="container-fluid">


              <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h2>Data table</h2>
                  </div>
                  <div class="col-sm-6">
                    <a href="{{ path('project', {})}}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Add new project</span></a>

                  </div>
                </div>
              </div>
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">{#                    <h4 class="c-grey-900 mB-20">Projects</h4>#}


                    <table id="dataTable" class="table table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Country</th>
                            <th>Responsible</th>
                            <th>Content status</th>
                            <th>Video status</th>
                            <th>Edit</th>
                            <th>Delete</th>
                          </tr>
                        </thead>

                        <tbody>

                          {% for item in projects %}

                          <tr class="datarow"   data-whatever="{{ item.id }}">
                            <td>{{ item.id }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.country }}</td>
                            <td>{{ item.responsible }}</td>
                            <td>{{ item.contentstatus }}</td>
                            <td>{{ item.videostatus }}</td>
                            <td><a class="sidebar-link" href=  "http://127.0.0.1:8000/project/edit/{{ item.id }} ">Edit</a></td>
                            <td><a class="sidebar-link" href=  "http://127.0.0.1:8000/project/delete/{{ item.id }} ">Delete</a></td>
                          </tr>

                          {% endfor %}

                        </tbody>
                      </table>

                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>

                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Title:</label>
                          <input type="text" class="form-control" id="project-title">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Country:</label>
                          <textarea class="form-control" id="project-country"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Responsible:</label>
                          <textarea class="form-control" id="project-responsible"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Content status:</label>
                          <textarea class="form-control" id="project-content-status"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Video status:</label>
                          <textarea class="form-control" id="project-video-status"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" name="updateData" class="btn btn-primary">Save</button>
                        </div>
                      </form>
                    </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      //=================================================================
      //click on table body
      $("#dataTable tbody tr").click(function () {

        //get row contents into an array
        var tableData = $(this).children("td").map(function() {
          return $(this).text();
        }).get();

        $('#project-title').val(tableData[1]);
        $('#project-country').val(tableData[2]);
        $('#project-responsible').val(tableData[3]);
        $('#project-content-status').val(tableData[4]);
        $('#project-video-status').val(tableData[5]);


        $.ajax({
          type: "POST",
          url: "http://127.0.0.1:8000/project/edit/" + tableData[0],
          data: {},
          contentType: "application/json; charset=utf-8"
        });


      });
    });
  </script>

{% endblock body %}